fastapi
uvicorn
jinja2
python-multipart
python-dotenv

langchain
langchain-google-genai
langchain-core
langgraph
langchain-text-splitters
langgraph-checkpoint-sqlite

langchain-chroma
chromadb
pypdf
docx2txt
langchain-tavily
tavily-python
sqlalchemy